/* -------------------------------------- LOGIN DAN REGISTER -------------------------------------- */
.login-register {
 font-family: "Inter", sans-serif;
 background-color: #fff;
 color: #ffffff;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 margin: 0;
 padding: 40px;
 position: relative;
}

.login-register .background-overlay {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-image: url("../assets/img/background/background.png");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 filter: blur(3px);
 filter: brightness(50%);
 z-index: 1;
}

.login-register .container {
 background: linear-gradient(135deg, #222831, #1b1f27, #2e3440, #393e46);
 background-size: 400% 400%;
 animation: gradientAnimation 15s ease infinite;
 padding: 40px;
 border-radius: 6px;
 box-shadow: 0 0 20px rgba(247, 237, 237, 0.1);
 text-align: center;
 width: 90%;
 max-width: 600px;
 margin: auto;
 position: relative;
 z-index: 1;
}

@keyframes gradientAnimation {
 0% {
  background-position: 0% 50%;
 }
 50% {
  background-position: 100% 50%;
 }
 100% {
  background-position: 0% 50%;
 }
}

.login-register h1,
.login-register h2,
.login-register h3,
.login-register h4,
.login-register h5 {
 font-family: "Poppins", sans-serif;
 color: #ffffff;
}

.login-register .form-label {
 font-weight: 800;
 text-align: left;
 display: block;
}

.login-register .input-group {
 text-align: left;
}

.login-register .form-control {
 flex: 1;
 border: 1px solid #ced4da;
 padding: 0.375rem 0.75rem;
 background-color: #ffffff;
 color: #0a0358;
}

.login-register .form-control:focus {
 background-color: #ffffff;
 color: #0a0358;
 border-color: #80bdff;
 outline: 0;
 box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.login-register .btn-primary {
 margin-top: 10px;
 margin-bottom: 10px;
 background-color: #ee9849;
 border-color: #ffffff;
 border-radius: 10px;
 width: 100%;
 height: 37px;
}

.login-register .btn-primary:hover {
 background-color: #15494d;
 border-color: #262531;
}

.login-register .link-primary {
 color: #29b7ca;
}

.login-register .link-primary:hover {
 color: #8dabad;
}

.login-register .loading-bar {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 4px;
 background: linear-gradient(to right, #0a0358, #ad0000, #1102aa, #720101);
 background-size: 200% 100%;
 animation: loading 1.5s linear infinite;
}

@keyframes loading {
 0% {
  background-position: 200% 0;
 }
 100% {
  background-position: -200% 0;
 }
}

.login-register .show-password {
 position: absolute;
 right: 10px;
 top: 50%;
 transform: translateY(-50%);
 cursor: pointer;
}

.login-register img {
 max-width: 100%;
 height: auto;
 display: block;
}

.login-register .input-group-text {
 background-color: #ffbb00;
 color: #0a0358;
}

.login-register .input-group-text .fas {
 color: #0a0358;
}

@media (max-width: 576px) {
 .login-register .container {
  margin-top: 30px;
  padding: 20px;
 }
}
/* -------------------------------------------------------------------------------------------- */

/* -------------------------------------- HOMEPAGE USERS -------------------------------------- */
* {
 font-family: "Poppins", sans-serif;
}

:root {
 --primary-color: #222831;
 --secondary-color: #fd7014;
 --color-text: #eeeeee;
 --navbar-color: #393e46;
 --navbar-color-text: #ffffff;
 --padding-btn-lg: 12px 16px 12px 16px;
 --padding-btn-md: 6px 12px 6px 12px;
}

.back-button {
 display: flex;
 align-items: center;
}

.back-button i {
 font-size: 25px;
}

.btn-orange {
 color: #fff;
 background-color: #fd7014;
 border: none;
}

.btn-orange:hover {
 color: #222831;
 background-color: #ff8431;
 border-color: #ff8431;
}

.btn-orange:focus,
.btn-orange.focus {
 background-color: #fd7014;
 box-shadow: 0 0 0 0.2rem rgba(193, 132, 66, 0.5);
}

.btn-orange:disabled,
.btn-orange.disabled {
 background-color: #fd7014;
 border-color: #fd7014;
}

.btn-outline-orange {
 color: #222831;
 background-color: none;
 border: #fd7014 solid 2px;
}
.btn-outline-orange:hover {
 color: #222831;
 background-color: #ff8431;
 border-color: #ff8431;
}

.btn-outline-orange:focus,
.btn-outline-orange.focus {
 background-color: #fd7014;
 box-shadow: 0 0 0 0.2rem rgba(193, 132, 66, 0.5);
}

.btn-outline-orange:disabled,
.btn-outline-orange.disabled {
 background-color: #fd7014;
 border-color: #fd7014;
}
/* ----- NAVBAR STYLE ----- */
.user-navbar {
 position: fixed;
 padding: 15px 0 15px 0;
 width: 100%;
 -o-transition: all 0.2s ease;
 -webkit-transition: all 0.2s ease;
 -moz-transition: all 0.2s ease;
 -ms-transition: all 0.2s ease;
 transition: all 0.2s ease;
 z-index: 9999;
 background-color: #222831;
}

.user-navbar button {
 padding: var(--padding-btn-md);
}

.user-navbar.color-active {
 background-color: var(--navbar-color);
 padding: 20px 0 20px 0;
 border-bottom: 2px solid #fd71141b;
}

.user-navbar .nav-link a {
 padding: 5px 10px 5px 10px;
 font-weight: 500;
 text-decoration: none;
 color: white;
}
.user-navbar .nav-link a:hover {
 color: var(--secondary-color);
}

.user-navbar .nav-link .active {
 background-color: var(--secondary-color);
}

.user-navbar .nav-link .active:hover {
 color: var(--navbar-color);
}

.navbar-toggler {
 background-color: #eeeeee;
}

.navbar-toggler:focus {
 border-color: #eeeeee;
}

.logo-user-navbar:hover {
 text-decoration: none;
}

/* ----- STYLE HOME PAGE HEADER ----- */
header {
 background-color: var(--primary-color);
}

/* ----- STYLE HOME PAGE HEADER ----- */
.homepage .header-box h1 {
 font-size: 3.2 rem;
 font-weight: 600;
 color: white;
}

.homepage .header-box button {
 padding: var(--padding-btn-lg);
}

.homepage .header-box h1 span {
 font-weight: 700;
}

.homepage .header-box p {
 line-height: 2;
 color: white;
 font-weight: 500;
}

.homepage .header-box img {
 width: 100%;
}

@media screen and (max-width: 992px) {
 .homepage .header-box {
  padding-top: 8rem;
 }

 .homepage .header-box img {
  width: 400px;
  display: block;
  margin-inline: auto;
 }
}

@media screen and (max-width: 575px) {
 .homepage .header-box h1 {
  font-size: 3rem;
 }
}

@media screen and (max-width: 475px) {
 .homepage .header-box h1 {
  font-size: 2.4rem;
 }
 .homepage .header-box p {
  font-size: 14px;
 }
 .homepage .header-box img {
  width: 300px;
 }
}

@media screen and (max-width: 375px) {
 .homepage .header-box h1 {
  font-size: 2rem;
 }
 .homepage .header-box p {
  font-size: 12px;
 }
}

/* ----- STYLE HOME PAGE PROMO ----- */
.homepage .promo {
 background-color: #eeeeee;
}

.swiper {
 width: 100%;
 height: 100%;
}

.swiper-slide {
 text-align: center;
 font-size: 18px;
 background: #eeeeee;

 /* Center slide text vertically */
 display: flex;
 justify-content: center;
 align-items: center;
}

.swiper-slide img {
 display: block;
 width: 100%;
 height: 100%;
 object-fit: cover;
}

/* ----- STYLE HOME PAGE MOVIE ----- */
.homepage .movies {
 background-color: var(--color-text);
 padding-bottom: 100px;
}

.homepage .movies .row:nth-child(1) {
 padding-bottom: 30px;
}

.homepage .movies .row:nth-child(1) h1,
.homepage .movies .row:nth-child(1) p {
 color: #222831;
}

.homepage .movies .row:nth-child(2) {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.homepage .movies .row:nth-child(2) img {
 width: 100%;
}

.homepage .movies button {
 padding: var(--padding-btn-md);
}

.homepage .trailer {
 border: none;
}

.homepage .film-poster {
 border: none;
}

/* Overlay for movie poster */
.movie-poster {
 position: relative;
}

.movie-poster .card {
 border: none;
 background-color: #eeeeee;
 background-clip: border-box;
}

.movie-poster .overlay {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background: rgba(0, 0, 0, 0.6);
 opacity: 0;
 transition: opacity 0.3s ease;
}

.movie-poster:hover .overlay {
 opacity: 1;
}

.movie-poster .overlay .btn {
 margin: 5px;
}

.movie-poster-img {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
}

/* Responsive adjustments */
@media (max-width: 767px) {
 .movie-poster-img {
  aspect-ratio: 2 / 3; /* Maintain aspect ratio */
 }
}

/* STYLE FAQ */
.faq {
 padding-top: 50px;
 padding-bottom: 100px;
 background-color: var(--primary-color);
}
.faq h2 {
 color: var(--color-text);
}

.faq .accordion .accordion-button {
 color: var(--primary-color);
}

.faq .accordion .accordion-button:focus {
 border: none;
 box-shadow: none;
}

.faq .accordion .accordion-button:not(.collapsed) {
 background-color: #ffae78;
}

/* STYLE MODAL */
.modal-header,
.modal-body,
.modal-content {
 width: 600px;
 background-color: #eeeeee;
 border-color: #eeeeee;
 align-items: center;
 justify-content: center;
}

.modal-body {
 border-bottom-left-radius: 5px;
 border-bottom-right-radius: 5px;
}

@media (max-width: 768px) {
 .modal-header,
 .modal-body,
 .modal-content {
  width: 500px;
  background-color: #eeeeee;
  border-color: #eeeeee;
  align-items: center;
  justify-content: center;
 }
}

@media (max-width: 450px) {
 .modal-header,
 .modal-body,
 .modal-content {
  width: 400px;
  background-color: #eeeeee;
  border-color: #eeeeee;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
 }
}

/* ----------- FOOTER STYLE ----------- */
.footer {
 background-color: var(--secondary-color);
 color: #222831;
 font-weight: 500;
 padding: 20px 0;
}

.footer .social {
 display: flex;
 align-items: center;
 gap: 10px;
}

.footer .social i {
 font-size: 24px;
 width: 40px;
 height: 40px;
 cursor: pointer;
 display: flex;
 justify-content: center;
 align-items: center;
 text-decoration: none;
 position: relative;
 -o-transition: all 0.3s ease;
 -webkit-transition: all 0.3s ease;
 -moz-transition: all 0.3s ease;
 -ms-transition: all 0.3s ease;
 transition: all 0.3s ease;
 background-color: #222831;
 border-radius: 50%;
 color: #eeeeee;
}

.footer .social i:hover {
 color: var(--secondary-color);
}

.footer .row:nth-child(2) {
 margin-top: 25px;
}

@media (max-width: 768px) {
 .footer .d-flex {
  flex-direction: column;
  align-items: center;
 }

 .footer .social {
  justify-content: center;
 }

 .footer img {
  display: block;
  margin: 0 auto;
 }

 .footer p {
  text-align: center;
 }

 .footer h6 {
  text-align: center;
 }
}
/* ----- END STYLE HOME PAGE MOVIE ----- */
/* --------------------------------------------------------------------------------------------- */

/* -------------------------------------- MOVIEPAGE USERS -------------------------------------- */
.user-movie {
 background-color: #eeeeee;
 padding-top: 130px;
 color: #212529;
}

.user-movie .card {
 border: none;
}

.btn-trailer-movie {
 padding: var(--padding-btn-md);
 border: none;
 font-size: 14px;
}

.icon-duration,
.icon-age,
.icon-price {
 display: flex;
 align-items: center;
}

.icon-duration i,
.icon-age i,
.icon-price i {
 margin-right: 10px;
 font-size: 20px;
 padding-bottom: 10px;
 color: #fd7014;
 padding-right: 5px;
}

.user-movie .row:nth-child(4) .accordion-button:not(.collapsed) {
 background-color: #fd7014;
 color: #eeeeee;
}

.user-movie .row:nth-child(4) .accordion-button {
 color: #393e46;
 background-color: #ffae78;
 box-shadow: none;
}

.user-movie .row:nth-child(4) .accordion-item {
 border-color: #ffae78;
 box-shadow: 2px;
}

.user-movie .row:nth-child(4) .accordion-bod {
 border-color: #ffae78;
 box-shadow: 2px;
}

.user-movie .row:nth-child(4) .btn-jam {
 padding: var(--padding-btn-md);
 background-color: #eeeeee;
 color: #0d0d0d;
 border: #0d0d0d solid 2px;
}

.user-movie .row:nth-child(4) .btn-jam:hover {
 background-color: #0d0d0d;
 color: #eeeeee;
}

.mv-cast,
.mv-synopsis {
 text-align: justify;
}

@media (max-width: 767px) {
 .user-movie .back-button {
  text-align: center;
  margin-bottom: 20px;
 }

 .poster-card img {
  width: 100%;
  height: auto;
 }

 .user-movie .poster-card {
  text-align: center;
 }

 .user-movie .poster-card .btn {
  margin-top: 20px;
 }

 .user-movie h1 {
  margin-top: 20px;
 }

 .user-movie h3 {
  text-align: center;
 }

 .user-movie .row:nth-child(4) {
  justify-content: center;
 }

 .user-movie .row:nth-child(5) {
  justify-content: center;
 }
}

/* -------------------------------------------------------------------------------------------- */

/* --------------------------------------- SEAT USERS ----------------------------------------- */
.user-seat .main-container {
 padding-top: 130px;
}

.user-seat .seat-selection-container {
 background-color: #fff;
}

.user-seat .price-box {
 background-color: #f8f9fa;
 border: 1px solid #ddd;
 border-radius: 5px;
}

.user-seat .screen {
 background-color: #ccc;
 height: 20px;
 width: 80%;
 margin: 0px auto 1px auto;
}

.user-seat .legend {
 font-size: 15px;
 margin-top: 30px;
}

.user-seat .movie-details {
 background-color: #f8f9fa;
}

.user-seat .movie-details h5 {
 margin-top: 10px;
}

.user-seat .movie-details p {
 margin: 5px 0;
}

.seat-row {
 display: flex;
 justify-content: center;
 margin-bottom: 0px;
}

.seat-row .seat {
 margin-right: 0px;
 margin-top: 20px;
}

.user-seat .seat-selection-box .seat-row:nth-child(2n) {
 margin-bottom: 20px;
}

.user-seat .seat-selection-box .seat-row:nth-child(odd) .seat:nth-child(5n) {
 margin-right: 100x;
}
/* -------------------------------------------------------------------------------------------- */

/* ------------------------------------- PAYMENTPAGE USERS ------------------------------------ */
.user-payment {
 padding-top: 130px;
}
/* --------------------------------------------------------------------------------------------- */

/* ------------------------------------- TICKETPAGE USERS -------------------------------------- */
.ticket-page-container {
 background-color: #f8f9fa;
 padding: 50px;
}

.ticket-page-ticket-container {
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.ticket-page-my-tickets-header {
 font-size: 2.5rem;
 margin-bottom: 10px;
 text-align: left;
 width: 100%;
}

.ticket-page-ticket-empty {
 text-align: center;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.ticket-page-ticket-image {
 width: 400px;
 height: auto;
 margin-bottom: 10px;
 margin-top: 60px;
}

.ticket-page-ticket-text {
 font-size: 1.25rem;
 color: #555;
 margin-top: 60px;
}

.ticket-page-sort-container {
 display: flex;
 align-items: center;
}

.ticket-page-sort-by-text {
 margin-right: 20px;
 white-space: nowrap;
}

.ticket-page-sort-dropdown {
 margin-right: 10px;
 width: 250px;
}

.ticket-page-search-bar {
 background-color: #ffffff;
 border: 1px solid #ced4da;
 border-radius: 25px;
 padding: 0.375rem 0.75rem;
 width: 250px;
 display: flex;
 align-items: center;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ticket-page-search-input {
 border: none;
 outline: none;
 width: 100%;
 padding: 6px 10px;
 font-size: 1rem;
 color: #0a0358;
 background-color: #ffffff;
 border-radius: 25px 0 0 25px;
}

.ticket-page-search-input::placeholder {
 color: #0a0358;
}

.ticket-page-search-bar .ticket-page-search-icon {
 background-color: #ffbb00;
 border: none;
 padding: 5px 10px;
 border-radius: 0 25px 25px 0;
 display: flex;
 align-items: center;
 justify-content: center;
}

.ticket-page-search-bar .ticket-page-fa-search {
 color: #ffffff;
}
/* -------------------------------------------------------------------------------------------- */

/* ----------------------------------ACCOUNT PAGE STYLE---------------------------------------- */
.user-account {
 padding-top: 130px;
}

.user-account .card {
 background-color: var(--color-text);
}

.profile-photo-container {
 position: relative;
 display: inline-block;
}

.profile-photo {
 width: 110px;
 height: 110px;
 border-radius: 50%;
}

.overlay-profile {
 position: absolute;
 top: 10px;
 left: 10px;
 width: 90px;
 height: 90px;
 background: rgba(0, 0, 0, 0.5);
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
 opacity: 0;
 transition: opacity 0.3s;
 cursor: pointer;
}

.overlay-profile i {
 color: white;
 font-size: 24px;
}

.profile-photo-container:hover .overlay-profile {
 opacity: 1;
}
/* -------------------------------------------------------------------------------------------- */
